<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>About</title>
</head>
<body>
    <nav>
        <div>
            <a href="/"> <img src="/images/surf-icon.webp" width="50px"></a>        
        </div>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/photo-gallery">Photo Gallery</a></li>
        </ul>
    </nav>
    <main class="main-subpage">
        <h1>about.bethany.hamilton</h1>
        <article>
            <p><span>Bethany Meilani Hamilton</span>,who was born on February 8th in 1990, is an American professional surfer and writer who survived a 2003 shark attack in which her left arm was bitten off and who ultimately returned to professional surfing. She wrote about her experience in the 2004 autobiography Soul Surfer: A True Story of Faith, Family, and Fighting to Get Back on the Board, which was adapted into the 2011 feature film Soul Surfer in which she attributes her strength to her Christian faith. She was also the subject of a 2018 documentary, Bethany Hamilton: Unstoppable, which discusses her marriage to Adam Dirks and how marriage and motherhood have affected her professional surfing career.</p>
        </article>
        <article>
            <h2>erly.life</h2>
            <p>Hamilton was born on February 8, 1990, to Tom and Cheri Hamilton. She has two older brothers, Noah and Timothy. After learning how to surf at the age of three, she began surfing competitively at the age of eight and gained her first sponsorship by age ten. Hamilton was home-schooled from sixth grade through high school by her mother, a housewife. Her father was a waiter at a town café. She is a Christian.</p>
        </article>
        <article>
            <h2>personal.life</h2>
            <p>In early 2012, Hamilton met youth minister Adam Dirks through mutual friends. They became engaged in 2013. The couple was married on August 18, 2013, at an estate on Kauai's north shore, near where she grew up. The couple had a son on June 1, 2015. On March 27, 2018, they had a second son. On February 14, 2021, they had a third son. Their marriage is featured throughout her documentary, Bethany Hamilton: Unstoppable. Along with being a professional surfer, she now offers mentorship classes on faith, healing, personal health, and relationships.</p>
            </article>
    </main>
</body>
</html>