<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Books</title>
</head>
<body>
  <nav>
    <div>
        <a href="/"> <img src="/images/surf-icon.webp" width="50px"></a>        
    </div>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/photo-gallery">Photo Gallery</a></li>
    </ul>
</nav>
  <main>
      <h1>published.books</h1>
      <table>
          <thead>
            <tr>
              <th>Book title</th>
              <th>Authors</th>
              <th>Year published</th>
              <th>Plot</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Soul Surfer: A True Story of Faith, Family, and Fighting to Get Back on the Board</td>
              <td>Bethany Hamilton, Rick Bundschuh, and Sheryl Berk</td>
              <td>2004</td>
              <td>Autobiography detailing the time leading up to the shark attack, how she recovered, dealt with media attention, and how she ultimately got back on the board and returned to competition</td>
            </tr>
            <tr>
              <td>Devotions for the Soul Surfer</td>
              <td>Bethany Hamilton</td>
              <td>2006, reprinted in 2011</td>
              <td>Christian devotional book for young girls</td>
            </tr>
            <tr>
              <td>Rise Above: A 90-day Devotional</td>
              <td>Bethany Hamilton</td>
              <td>2007</td>
              <td>Christian devotional for young girls discussing both "hot and cool topics that every young girl faces"</td>
            </tr>
            <tr>
              <td>Ask Bethany: FAQs: Surfing, Faith, and Friends</td>
              <td>Bethany Hamilton</td>
              <td>2007</td>
              <td>Bethany answers questions discussing faith and how it has helped her throughout her life</td>
            </tr>
            <tr>
              <td>Raising a Soul Surfer: One Family's Epic Tale</td>
              <td>Cheri Hamilton, Rick Bundschuh</td>
              <td>2011</td>
              <td>This book was written by Hamilton's Mom and provides the story of Bethany's shark attack through the perspective of her parents.</td>
            </tr>
            <tr>
              <td>Body and Soul: A Girl's Guide to a Fit, Fun, and Fabulous Life</td>
              <td>Bethany Hamilton, Dustin Dillberg</td>
              <td>2014</td>
              <td>Provides readers with guidelines to become their healthiest self and practice a fit lifestyle. Includes workouts, healthy recipes, and tips for coping with stress</td>
            </tr>
            <tr>
              <td>Ask Bethany: Bethany Answers Over 200 Questions from Girls Like You</td>
              <td>Bethany Hamilton, Doris Rikkers</td>
              <td>2014, reprinted 2016</td>
              <td>Bethany answers fan questions about "a wide variety of topics about her life and faith"</a></td>
            </tr>
            <tr>
              <td>Be Unstoppable: The Art of Never Giving Up</td>
              <td>Bethany Hamilton</td>
              <td>2018</td>
              <td>In this book Bethany "inspires readers to be bold, enjoy life, and take risk of trusting God each day. Includes photos, inspiration quotes, and life lessons from Hamilton</td>
            </tr>
            <tr>
              <td>Unstoppable Me</td>
              <td>Bethany Hamilton, Adam Dirks, illustrated by Gill Guile</td>
              <td>2018</td>
              <td>Children's book based on Bethany's story. It follows Makana the lion who enjoys surfing but loses her nerve after wiping out on the water. With the help of her friends she rediscovers her love for surfing.</td>
            </tr>
            <tr>
              <td>Surfing Past Fear</td>
              <td>Bethany Hamilton, BRAVE BOOKS, illustrated by Martin Moròn</td>
              <td>2022</td>
              <td>Following an arm fracture, fellow beachgoers help Olivia overcome her concerns.</td>
            </tr>
          </tbody>
          </table>
  </main>
</body>
</html>