
<body>
    <main class="main-home">
        <div class="div-colored">
            
        </div>
        <div class="div-background">
        </div>
        <h1 class="h1-home">home.of.{{namePerson}}</h1>
    </main>
</body>
