<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>surfing.career</title>
</head>
<body>
  <nav>
    <div>
        <a href="/"> <img src="/images/surf-icon.webp" width="50px"></a>        
    </div>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/photo-gallery">Photo Gallery</a></li>
    </ul>
</nav>
    <main>
      <h1>attended.surfing.competitions</h1>
      <table>
        <thead>
          <tr>
            <th colspan="4">Placings in surf competitions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Year</td>
            <td>Event</td>
            <td>Place</td>
            <td>Country</td>
          </tr>
          <tr>
            <td>1998</td>
            <td>Rell Sunn Menehune</td>
            <td>1st</td>
            <td>Australia</td>
          </tr>
          <tr>
            <td>2002</td>
            <td>Open Women's Division of the NSSA</td>
            <td>1st</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2004</td>
            <td>NSSA National Competition</td>
            <td>1st</td>
            <td>Australia</td>
          </tr>
          <tr>
            <td>2005</td>
            <td>NSSA National Competition</td>
            <td>1st</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2006</td>
            <td>NSSA National Championship: 18-and-under Finalist</td>
            <td>5th</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2006</td>
            <td>Hawaii Team Highlights</td>
            <td>4th<br>3rd</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2007</td>
            <td>NSSA Regionals</td>
            <td>1st</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2007</td>
            <td>T &amp; C Pipeline Women's Pro</td>
            <td>1st</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2008</td>
            <td>US Open of Surfing—Huntington Beach, California</td>
            <td>5th</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2008</td>
            <td>Roxy Pro Surf Festival—Phillip Island</td>
            <td>3rd</td>
            <td>Australia</td>
          </tr>
          <tr>
            <td>2008</td>
            <td>ASP's World Qualifying Series</td>
            <td>14th</td>
            <td></td>
          </tr>
          <tr>
            <td>2009</td>
            <td>Rio Surf International in Rio de Janeiro</td>
            <td>3rd</td>
            <td>Brazil</td>
          </tr>
          <tr>
            <td>2009</td>
            <td>WSL's World Qualifying Series</td>
            <td>14th</td>
            <td>Peru</td>
          </tr>
          <tr>
            <td>2009</td>
            <td>Billabong ASP World Junior Championship</td>
            <td>2nd</td>
            <td>Australia</td>
          </tr>
          <tr>
            <td>2009</td>
            <td>World Cup Sunset Beach</td>
            <td>13th</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2010</td>
            <td>Rip Curl Pro Portugal</td>
            <td>9th</td>
            <td>Portugal</td>
          </tr>
          <tr>
            <td>2011</td>
            <td>Rip Curl Women's Pro Bells Beach</td>
            <td>13th</td>
            <td>Australia</td>
          </tr>
          <tr>
            <td>2012</td>
            <td>Telstra Drug Aware Pro</td>
            <td>9th</td>
            <td>Australia</td>
          </tr>
          <tr>
            <td>2012</td>
            <td>Rip Curl Cup Padang Padang</td>
            <td></td>
            <td>Indonesia</td>
          </tr>
          <tr>
            <td>2012</td>
            <td>Swatch Girl's Pro France</td>
            <td>37th</td>
            <td>France</td>
          </tr>
          <tr>
            <td>2013</td>
            <td>Supergirl Pro</td>
            <td>9th</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2014</td>
            <td>Hurley Australian Open</td>
            <td>37th</td>
            <td>Australia</td>
          </tr>
          <tr>
            <td>2014</td>
            <td>Surf 'n' Sea Pipeline Women's Pro</td>
            <td>1st</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2015</td>
            <td>Swatch Women's Pro</td>
            <td>13th</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2016</td>
            <td>Fiji Women's Pro</td>
            <td>3rd</td>
            <td>Fiji</td>
          </tr>
          <tr>
            <td>2016</td>
            <td>Swatch Women's Pro</td>
            <td>13th</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2017</td>
            <td>Wahine Pipe Pro</td>
            <td>17th</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2017</td>
            <td>Outerknown Fiji Women's Pro</td>
            <td>9th</td>
            <td>Fiji</td>
          </tr>
          <tr>
            <td>2018</td>
            <td>Surf Ranch Pro–Lemoore, CA</a></td>
            <td>13th</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2018</td>
            <td>Beachwaver Maui Pro</td>
            <td>13th</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2020</td>
            <td>Sydney Surf Pro</td>
            <td>17th</td>
            <td>Australia</td>
          </tr>
          <tr>
            <td>2021</td>
            <td>Nissan Super Girl Surf Pro</td>
            <td>33rd</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2021</td>
            <td>HIC Pipe Pro</td>
            <td>13th</td>
            <td>U.S.</td>
          </tr>
          <tr>
            <td>2022</td>
            <td>Billabong Pro Pipeline</td>
            <td>9th</td>
            <td>U.S.</td>
          </tr>
        </tbody>
        </table>        
    </main>
</body>
</html>