<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Work</title>
</head>
<body>
    <nav>
        <div>
            <a href="/"> <img src="/images/surf-icon.webp" width="50px"></a>        
        </div>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/photo-gallery">Photo Gallery</a></li>
        </ul>
    </nav>
    <main>
        <h1>achievements.and.outreach.programs</h1>
        <article>
            <p>Hamilton is involved in numerous charitable efforts, including her own foundation, Friends of Bethany, which reaches out to amputees and youth, encouraging them to overcome difficulties by offering hope through Jesus Christ. Using her platform as a professional athlete to promote living a fit and healthy lifestyle, she authored the book Body and Soul in 2014. In 2019, a surf documentary was made about her, Bethany Hamilton: Unstoppable, which was accompanied by a photo book and a children's book.</p>
            <ul id="work-link-container">
                <li class="works-card">
                    <a href="/books"> <img src="/images/family-foto-2.webp" width="300px"></a>
                    <a href="/books" class="text-card">Overview of Books Hamilton released with her family</a>
                </li>
                <li class="works-card">
                    <a href="/surfing"> <img src="/images/competiotion-2.jpeg" width="300px"></a>
                    <a href="/surfing" class="text-card"> Overview of Surfing-Competitions Hamilton attendet</a>
                </li>
            </ul>
        </article>
    </main>
</body>
</html>